/* CSS files add styling rules to your content */

/*
body {font-family: helvetica, arial, sans-serif; margin: 0em;}
h1 {font-style: italic; color: #373fff;}
*/

body {
    margin: 0em;
    font-family: "Comic Sans MS", sans-serif;
    /*font-family: 'Noto Sans', sans-serif;*/
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;

    /*font-family: 'Comic Neue', serif;*/
}

.cover {
    height: 400px;
    color: white;
    background-image: url("../img/bacground_img_2400x1600.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(155, 155, 155, 1);
    background-blend-mode: darken;
}

.cover-about {
    height: 400px;
    color: white;
    background-image: url("../img/bar/bar_tender.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: darken;
}

.cover-small {
    height: 175px;
    background-blend-mode: normal;
}

.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /*width: 18rem;*/
}

.card-title {
    min-height: 3rem;
    /*background-color: red;*/
}

.card-text {
    min-height: 9rem;
}

.products-stripe, .slider {
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stripe-container, .slider-container {
    display: flex;
}

.stripe-container .card {
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.responsive-iframe {
    position: relative;
    padding-top: 56.25%;
}

.responsive-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider {
    overflow: hidden;
}

.slider-container {
    transform: translateX(0);
    animation: slider 15s infinite;
}

.image-container {
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    flex-shrink: 0;
}

.avatar {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 0 auto;
}

@keyframes slider {
    0% {
        transform: translateX(0)
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-100%);
    }
    30% {
       transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    55% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(-300%);
    }
    90% {
        transform: translateX(-400%);
    }
    95% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0);
    }
}